.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  color: mintcream;
  padding: 10px;
}

.dialogsItems .active {
  color: steelblue;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: teal;
}
